.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  left: 0;
  height: 78vh;
  width: 15%;
  background-color: #000;
  border-right: 3px solid #FFF;
}

.nav-list {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem .2rem;
}

.nav-list li {
  width: 100%;
  padding: 0 .3rem;
  color: #FFF;
  /* color: #5c804b; */
  word-break: break-all;
}

.nav-list li:hover {
  color: #AAA; 
  cursor: pointer;
}

.nav-list::-webkit-scrollbar {
  width: 5px;
}

.nav-list::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border-radius: 2px;
}

.search-box {
  display: flex;
}

.no-friends {
  flex-grow: 1;
}

.search {
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  border-bottom: 0;
  outline: 0;
  padding: 1rem .3rem;
  margin-left: 1px;
  font-size:1.1rem;
  color: #fff;
}

.search-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: .5rem;
}

.search-button:hover {
  color: #bbb;
}